
<h1> Log in to your Account</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
<b>Username:</b> <%= f.text_field :username %> </br>
<b>Password:</b> <%= f.password_field :password %> </br></br>
<%= f.submit "Log In" %>
<% end %> 