<h1> <%= @formatted %> </h1>
<div class="rating"><% @games.each do |game| %>
    <h5><li><%= link_to game.title, game_path(game) %></li></h5>
    <div class="system"><%= link_to game.system.name, system_path(game.system)%></h6></div>
    <% end %> 
    <br>
   